<div class="card-deck">
  {{#each favorites as |favorite|}}
    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
          <a href="{{favorite.recipeUrl}}" target="_blank">
            <img class="card-img-top" src="{{favorite.imageUrl}}" alt="Card image">
          </a>
          <div class="card-body">
            <a href="{{favorite.recipeUrl}}" target="_blank">
              <h4 class="card-title">{{favorite.recipeName}}</h4>
            </a>
          </div>
          <a href="{{favorite.recipeUrl}}" target="_blank">
            <div class="card-footer">
              View Recipe
            </div>
          </a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
