<div class="card-deck">
  {{#each recipes as |recipe|}}
    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
          <input type="hidden" value="{{@root.user._id}}" name="userId"/>
          {{#if @root.user}}
              <button class="save-to-faves-heart
              {{#contains @root.user.arrayOfFavoriteRecipes recipe._id}}
                favorited"
              name="saveToFavoritesHeart"
              id="{{recipe._id}}-heart" onClick="saveFavorite('{{recipe._id}}')">❤</button>
            {{else}}
              <button class="save-to-faves-heart" name="saveToFavoritesHeart"
              id="{{recipe._id}}-heart" onClick="saveFavorite('{{recipe._id}}')">❤</button>
            {{/contains}}
            <!-- user is logged in, let them save favorite -->
          {{else}}
            <!-- not logged in, redirect to login -->
            <a href="/login"><button class="save-to-faves-heart" name="saveToFavoritesHeart"
            id="{{recipe._id}}-heart">❤</button></a>
          {{/if}}
          <a href="{{recipe.url}}" target="_blank">
            <img class="card-img-top" src="{{recipe.image}}" alt="Card image">
          </a>
          <div class="card-body">
            <a href="{{recipe.url}}" target="_blank">
              <h4 class="card-title">{{recipe.label}}</h4>
            </a>
            <div class="time-left-subheader">
              <img src="https://cdn4.iconfinder.com/data/icons/basic-ui-elements-1-1/100/Untitled-32-512.png" style="vertical-align: middle" class="clock-icon">
              <span class="cooking-time">
                {{# if recipe.totalTime}}
                  {{recipe.totalTime}}
                {{else}}
                  --
                {{/if}} minutes</span>
            </div>
            <div class="ingredientLines-container">
              {{#each recipe.ingredientLines}}
                <li class="card-text">{{this}}</li>
              {{/each}}
            </div>
          </div>
          <a href="{{recipe.url}}" target="_blank">
            <div class="card-footer">
              View Full Recipe
            </div>
          </a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
