<div class="cart-container">

	<a href='/cart'>Cart</a> > <a href="">Grocery List</a>
	<h1 class="">Grocery List</h1>
	<hr>
	<p class="page-explanation">
		This combined grocery list was automatically created from the recipes in
		your <a href='/cart'>cart</a>
	</p>
	{{#if user}}
	{{else}}
		<a href="/login">Login</a> to view your own grocery list.
	{{/if}}
	{{#if user}}
    {{#each ingredients as |ingredient|}}
      <ul>
				<input 
					type="checkbox"
					onClick="toggleIngredient(this, '{{@root.user.groceryList}}', '{{@index}}')"
					{{#if ingredient.acquired}}
						checked
					{{/if}}
				> <!-- TODO: POST request to save whether checked -->
				{{#if ingredient.quantity}}
					<input 
						type="number" 
						class="ingredient-qty" 
						value={{ingredient.quantity}} 
						onkeyup="this.style.width = ((this.value.length + 1) * 16) + 'px';"
					>
				{{else}}
					<input 
						type="number" 
						class="ingredient-qty" 
						value=1 
						onkeyup="this.style.width = ((this.value.length + 1) * 16) + 'px';"
					>
				{{/if}}
				{{#if ingredient.unit}}
					<span type="text" class="ingredient-meas">{{ingredient.unit}}</span> <!-- (ex: tsp) -->
				{{/if}}
				<span class="ingredient-desc">{{ingredient.ingredient}}</span> <!-- (ex: 'sugar') -->
      </ul>
    {{/each}}
	{{/if}}
</div>
