<div class="cart-container">

	<a href='/cart'>Cart</a> > <a href="">Grocery List</a>
	<h1 class="">Grocery List</h1>
	<hr>
	<p class="page-explanation">
		This combined grocery list was automatically created from the recipes in
		your <a href='/cart'>cart</a>
	</p>
	{{#if user}}
		<table>
			<tr class="ingredient-tr ingredient-header-row">
				<th class="ingredient-th"></th> 
				<th class="ingredient-th">Qty.</th> 
				<th class="ingredient-th">Unit</th>
				<th class="ingredient-th">Description</th>
			</tr>
    {{#each ingredients as |ingredient|}}
			<tr class="ingredient-tr">
				<td class="ingredient-td">
					<input 
						type="checkbox"
						onClick="toggleIngredient(this, '{{@root.user.groceryList}}', '{{@index}}')"
						{{#eq ingredient.acquired 'true'}}
							checked
						{{/eq}}
					>
				</td>
				<td class="ingredient-td">
					<p 
						type="number" 
						class="ingredient-qty"
					>
						{{ingredient.quantity}}
					</p>
				</td class="ingredient-td"> 
				<td class="ingredient-td">
					<p type="text" class="ingredient-meas">{{ingredient.unit}}</p> <!-- (ex: tsp) -->
				</td>
				<td class="ingredient-td">
					<p class="ingredient-desc">{{ingredient.ingredient}}</p> <!-- (ex: 'sugar') -->
				</td>
			</tr>
    {{/each}}
		</table>
	{{else}}
		<a href="/login">Login</a> to view your own grocery list.
	{{/if}}
</div>
