<div class="cart-container">

	<a href="/dashboard">Dashboard</a> > <a href='/dashboard/cart'>Cart</a> > <a href="">Grocery List</a>
	<h1 class="">Grocery List</h1>
	<hr>
	{{#if @root.user}}
	{{else}}
		<a href="/login">Login</a> to view your own grocery list.
	{{/if}}
	{{#if @root.user}}
    {{#each ingredients as |ingredient|}}
      <ul>
				<input type="checkbox">
				<input type="text" name="quantity" value="{{ingredient.[0]}}">
				{{ingredient.[1]}} <!-- measurement unit (ex: tsp) -->
				{{ingredient.[2]}} <!-- description of ingredient (ex: 'sugar') -->
        <!-- <li>{{ingredient.quantity}} {{ingredient.unit}} {{ingredient.ingredient}}</li> -->
      </ul>
    {{/each}}
	{{/if}}
</div>
