<div class="card-deck">

  {{#each recipes}}
    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="width: 20rem;">


          <form action="/favorites/" method="POST">
            <input type="hidden" value="{{this.recipe.label}}" name="recipename"/>
            <input type="submit" value="â¤" class="save-to-faves-heart"/>
          </form>


          <a href="{{this.recipe.url}}" target="_blank">
            <img class="card-img-top" src="{{this.recipe.image}}" alt="Card image">
          </a>
          <div class="card-body">
            <a href="{{this.recipe.url}}" target="_blank">
              <h4 class="card-title">{{this.recipe.label}}</h4>
            </a>
            <div class="time-left-subheader">
              <img src="https://cdn4.iconfinder.com/data/icons/basic-ui-elements-1-1/100/Untitled-32-512.png" style="vertical-align: middle" class="clock-icon">
              <span class="cooking-time">
                {{# if recipe.totalTime}}
                  {{this.recipe.totalTime}}
                {{else}}
                  --
                {{/if}} minutes</span>
            </div>
            <div class="ingredients-container">
              {{#each this.recipe.ingredients}}
                <li class="card-text">{{this.text}}</li>
              {{/each}}
            </div>

          </div>
          <a href="{{this.recipe.url}}" target="_blank">
            <div class="card-footer">
              View Full Recipe
            </div>
          </a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
